div#modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    background-color: #00000077;
    backdrop-filter: blur(4px);
    animation: background-fade-in 1s ease;
}

div#menu {
    position: inherit;
    left: 25%;
    top: 5%;
    box-sizing: border-box;
    width: 50%;
    height: 85%;
    padding: 2.5%;

    border-radius: 8px;

    background-color: white;

    animation: drop-from-top 0.5s ease;
}

div#menu-header {
    display: flex;
    align-content: center;
    justify-content: center;
}

h1.menu {
    margin: 0;
    font-family: 'Fredoka One';
    text-align: center;
    font-size: 60px;
}

button#menu-hide {
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

@keyframes background-fade-in {
    0% {
        backdrop-filter: blur(0);
        background-color: #00000000;
    }

    100% {
        backdrop-filter: blur(4px);
        background-color: #00000077;
    }
}

@keyframes drop-from-top {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    100% {
        transform: translateY(0);
    }
}